{% extends 'layout.html' %}

{% block body %}
  <html lang="zh-Hant-TW">
    <h1>Search Stock</h1>
    <form action="" method="POST">
      <div class="form-group">
        <label>Search</label>
        <input type="text" name="Stock" class="form-control" value={{request.form.Stock}}>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    {% if stockname %}
    <table class="table table-striped">
      <tr>
        <th>Song</th>
        <th>Artist</th>
        <th>Album</th>
        <th></th>
        <th></th>
      </tr>
        <tr>
          <td><a href="/quicksearch/{{stockname}}">{{stockname}}</td>
          <td><a href="/addtoPlaylist/{{stockname}}" class="btn btn-default pull-right">Like</a></td>
        </tr>
    </table>
    {% endif %}
{% endblock %}
<!-- <button type="submit" class="btn btn-primary" onclick="/searchresult/{{request.form.Song}}">Submit</button> -->
